.container
  .row
    .col-md-8.col-md-offset-2
      %h2 Who d'ya want?

      %form{role: "form"}
        .form-group
          %label{for: "emailInput"} Pound in an email address!
          %input.form-control{type: "email", id: "emailInput", placeholder: "you@about.me"}
        %button.btn.btn-submit{type: "submit"} Dig It